zenodo/.DS_Store
zenodo/refractive_index_1762nm_v1.0/.DS_Store
zenodo/refractive_index_1762nm_v1.0/code/.DS_Store
zenodo/refractive_index_1762nm_v1.0/code/analysis/.DS_Store
zenodo/refractive_index_1762nm_v1.0/code/data_processing/.DS_Store
zenodo/refractive_index_1762nm_v1.0/code/models/.DS_Store
zenodo/refractive_index_1762nm_v1.0/code/models/hitran/.DS_Store
zenodo/refractive_index_1762nm_v1.0/data/.DS_Store
zenodo/refractive_index_1762nm_v1.0/data/derived/.DS_Store
zenodo/refractive_index_1762nm_v1.0/data/derived/models/.DS_Store
zenodo/refractive_index_1762nm_v1.0/data/derived/models/hitran/.DS_Store
zenodo/refractive_index_1762nm_v1.0/data/processed/.DS_Store
zenodo/refractive_index_1762nm_v1.0/data/raw/.DS_Store
.DS_Store
