zenodo/.DS_Store
zenodo/.DS_Store
zenodo/code/.DS_Store
zenodo/code/analysis/.DS_Store
zenodo/code/data_processing/.DS_Store
zenodo/code/models/.DS_Store
zenodo/code/models/hitran/.DS_Store
zenodo/data/.DS_Store
zenodo/data/raw
zenodo/data/derived/.DS_Store
zenodo/data/derived/models/.DS_Store
zenodo/data/derived/models/hitran/.DS_Store
zenodo/data/processed/.DS_Store
zenodo/data/raw/.DS_Store
.DS_Store
